task {
  font-family: "Poppins", sans-serif;
  /* display: inline; */
  /* opacity: 0; */
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
  text-align: center;
}
